@use "../global" as *;

h2 {
	font-size: 1.625rem;
}

h3 {
	font-size: 1.3125rem;
}

h4 {
	font-size: 2.0rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
th,
td,
dd,
p {
	font-family: $font__main;
}

h1 {
	margin-bottom: 2em;
	color: #fff;
	background-color: $sk-color-primary;
	margin-top: 0;
	padding-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 4em;
}

h2 {
}

h3 {
	border-bottom: 1px solid $sk-color-border-hr;
	background: 0 0;
	padding: 0 0 .5em;
}

h4 {
	padding: .5em;
	background-color: $sk-color-border-hr;
	border-radius: $sk-size-radius;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: 2em;
	margin-bottom: 1.5em;

	&:first-child {
		margin-top: 0;
	}
}

p {
	line-height: 1.5;
}