$breakpoint: (
	sp: 'screen and (min-width: 360px) and (max-width: 599px)',
	tab: 'screen and (min-width: 600px) and (max-width: 959px)',
	pc-s: 'screen and (min-width: 960px) and (max-width: 1280px)',
	pc-l: 'screen and (min-width: 1281px)',
) !default;

@mixin breakpoint($bp) {
	@media #{map-get($breakpoint, $bp)} {
		@content;
	}
}


// $breakpoints: (
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// ) !default;
// @mixin mq($type, $bp1, $bp2:0) {
//     @if ($type == min) {
//         @media screen and (min-width: #{map-get($breakpoints, $bp1)}) {
//         @content;
//         }
//     } @else if ($type == max) {
//         $width: map-get($breakpoints, $bp1);
//         $width: $width - 1px;
//         @media screen and (max-width: #{$width}) {
//         @content;
//         }
//     } @else if ($type == bw) { // bw → between
//         $width: map-get($breakpoints, $bp2);
//         $width: $width - 1px;
//         @media screen and (min-width: #{map-get($breakpoints, $bp1)})
//         and (max-width: #{$width}) {
//         @content;
//         }
//     }
// }