@use "../abstracts" as *;

.site-header {
	.container {
		display: flex;
		align-items: center;
	}
}

.site-branding {
	display: flex;
	align-items: center;
}

.main-navigation {
	margin-right: 0;
	margin-left: auto;
}