@use "../global" as *;



/*-------------------------------------------*/
/* siteContent
/*-------------------------------------------*/

.container {
	margin-left: auto;
	margin-right: auto;

	@include breakpoint(pc-l) {
		width: 1200px;
	}

	@include breakpoint(pc-s) {
		width: 940px;
	}

	@include breakpoint(tab) {

		.page-content,
		.entry-content {
			padding: 0 40px;
		}

		.widget-area {
			display: none;
		}
	}

	@include breakpoint(sp) {

		.page-content,
		.entry-content {
			padding: 0 20px;
		}

		.widget-area {
			display: none;
		}
	}
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-header {
	z-index: 9999;
}

.site-body {
	flex: 1;
	padding: 5.6rem 0 6.4rem;
}

.site-body-container {
	display: flex;
	gap: 30px;

	.site-main {
		flex: 1;
	}

	.widget-area {
		width: 300px;
	}

}

.site-footer {
}