@use "../global" as *;

.sk-accordion {
	p {
		margin-bottom: 0;
	}

	.sk-accordion_menu {
		border: 1px solid #cccccc;
		cursor: pointer;
		user-select: none;
	}

	.sk-accordion_menu:hover,
	.sk-accordion_menu:active,
	.sk-accordion_menu.is-active {
		background-color: #cccccc;
		color: #fff;
	}

	.sk-accordion_contents {
		height: 0;
		opacity: 0;
		visibility: collapse;
	}

	.sk-accordion_contents.is-open {
		border: solid 1px #CCC;
		height: auto;
		opacity: 1;
		visibility: visible;

	}
}