@use "../global" as *;



.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: 1.5em 0 0;
}

.page-links {
	// clear: both;
	// margin: 0 0 1.5em;
}

.site-body-header {
	color: #fff;
    background-color: $sk-color-primary;
	margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 8em;
    text-align: center;
}

.site-body-header-inner {
	margin: 1.5em auto;
}

.page-title,
.entry-title {
	font-size: 3.2rem;
	font-weight: 700;
    line-height: $sk-line-height-low;
    margin: 0;
}

.breadcrumb {}

.page-content,
.entry-content {

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2em;

		&:first-child {
			margin-top: 0;
		}
	}
}

.page-content,
.entry-content {
	h2 {
		border-bottom: 1px solid $sk-color-border-hr;
		border-top: 2px solid $sk-color-primary;
		padding: .5em 0;
	}

	h3 {
		border-bottom: 1px solid $sk-color-border-hr;
		background: 0 0;
		padding: 0 0 .5em;
	}

	h4 {
		padding: .5em;
		background-color: $sk-color-border-hr;
		border-radius: $sk-size-radius;
	}
}