@use "../global" as *;



.widget {
	display: block;
	margin-bottom: $sk-margin-block-bottom;

	ul {
		padding-left: 1.5em;
		margin: 0;

		&.wp-block-social-links {
			padding-left: 0;
		}
	}

	&-title ul {
		margin-top: 0;
	}

	li {
		// margin-top: 0.8em;
		// margin-top: 0.8em;
	}

	&:last-child() {
		margin-bottom: 0;
	}
}

.widget:after {
	content: "";
	clear: both;
	display: block;
}

.widget_link_list,
.widget_nav_menu,
.widget_archive,
.widget_categories,
.widget_pages,
.widget_postlist,
.widget .localNavi,
.localNavi {

	&>.widget-title[class*="title"],
	&>.sub-section-title {
		margin-bottom: 0;
	}

	&>ul,
	&>div>ul {
		padding: 0;
		margin: 0;

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
			margin: 0;
			// font-size: $sk-size-text-sm;

			a {
				display: block;
				padding-top: 0.7em;
				padding-bottom: 0.7em;
				padding-left: $sk-margin-list-menu-left-first;
				border-bottom: 1px solid $sk-color-border-hr;
				text-decoration: none;
				// color:$sk-color-text-body;
				// &:hover{
				//     background-color: $sk-color-accent-bg;
				// }
			}

			a:hover,
			&.current-cat>a,
			&.current_page_item>a {
				background-color: $sk-color-accent-bg;
			}
		}

		li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left ;
		}

		li li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left * 2;
		}

		li li li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left * 3;
		}

		li li li li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left * 4;
		}

		li li li li li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left * 5;
		}

		li li li li li li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left * 6;
		}

		li li li li li li li li a {
			padding-left: calc($sk-margin-list-menu-left-first) + $sk-margin-list-menu-left * 7;
		}
	}
}

.widget_vkexunit_post_list .widget-title[class*=title] {
	margin-bottom: 0;
}

.widget_archive,
.widget_categories {
	select {
		margin-top: 10px;
	}
}

.widget_recent_entries {
	.post-date {
		display: block;
		overflow: hidden;
		font-size: $sk-size-text-xs;
	}
}

.widget-area {
	.widget {
		// border: 1px solid #ccc;
		&-title {
			font-size: 2rem;
			color: #fff;
			background-color: #000;
			padding: 0 1rem;
			line-height: 2;
			margin: 0;
		}
	}
	.wp-widget-group{
		&__inner-blocks{
			// padding: 2rem;
		}
	}
	.wp-block-latest-posts__post-title {
		display: inline-block;
		width: 100%;
		padding: 0.5em 1rem;
		background-color: #FAFAFA;
		border-bottom: 1px solid #dadada;
		&:hover {
			background-color: #eee;
		}
	}
}