@use "../../abstracts" as *;

/*====================================================================
hero-swiper
====================================================================*/
.hero-swiper {
	width: 100vw;
	height: 500px;
	img {
		height: 500px;
		object-fit: cover;
	}
}