@use "../global" as *;



.site-header {
	.container {
		// 内容によってはグリッドフォーマットで
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.site-branding {

}

.site-title {

}

.site-description {

}

.main-navigation {
	.menu-toggle {

	}
	

}

// hero・その他
