@use "../global" as *;



html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

html,
body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	// line-height: $font__line-height-body;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// とりあえず
	overflow-wrap: break-word;
}

// /*-------------------------------------------*/
// /*	reset user agent style
// /*-------------------------------------------*/
figure {
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin-block-end: 0;
}

/*-------------------------------------------*/
/*	common style
/*-------------------------------------------*/
// .wp-block-table,
// // If direct specific to table that can not delete margin
// p,
// ul,
// ol,
// dl,
// blockquote,
// iframe {
// 	margin-bottom: $sk-margin-element-bottom;
// }

// a {
// 	text-decoration: none;
// 	color: $sk-color-text-link;

// 	&:hover {
// 		color: $sk-color-text-link-hover;
// 		text-decoration-color: $sk-color-text-link-hover;
// 	}

// 	p &,
// 	li & {
// 		text-decoration: underline;
// 		text-decoration-style: dotted;
// 		text-underline-offset: 2px;
// 		text-decoration-color: rgba(0, 0, 0, 0.3);
// 		text-decoration-thickness: 1px;

// 		&:hover {
// 			text-decoration: none;
// 		}
// 	}
// }

p {
	line-height: $sk-line-height;
	margin-block-start: 0;
	// margin-bottom: 1.5em;
}

// ul,
// ol,
// dl,
// table,
// blockquote,
// div,
// address,
// p {
// 	& + h1,
// 	& + h2,
// 	& + h3,
// 	& + h4,
// 	& + h5,
// 	& + h6{
// 		margin-top:2em;
// 	}
// }

// theme.json 有効の場合、この指定はコアが出力する body .is-layout-flow > * + * { margin-block-start: 24px; } に負ける。
// * 負けないように _common-theme-json.scss で強く追加指定すると、theme.json 未使用のユーザーが個別のCSSカスタマイズで margin-top を指定してある場合に、打ち消してしまうかもしれない。
// * theme.json が有効の場合 = 新規サイトの前提なので、ユーザーが個別に margin 指定すれば良いためこの指定は負ける仕様で良い。
// figure {

// 	&+h1,
// 	&+h2,
// 	&+h3 {
// 		// margin-top:2em;
// 	}

// 	&+h4,
// 	&+h5,
// 	&+h6 {
// 		margin-top: $sk-margin-headding-bottom;
// 	}
// }

h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: $sk-margin-headding-bottom;
	line-height: $sk-line-height-low;

	a {
		text-decoration: none;
	}
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2.1rem;
}

h5 {
	font-size: 1.9rem;
}

h6 {
	font-size: 1.7rem;
}

ul,
ol {
	padding-left: 1.5em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

// 引用
blockquote {
	margin: 0;
	padding: 1em 1.5em;
	border-left: 4px solid $sk-color-primary;
	background-color: $sk-color-accent-bg;
}

// i {
// 	margin-right: 0.4em;
// }

// hr {
// 	background-color: $color__background-hr;
// 	border: 0;
// 	height: 1px;
// 	// margin-bottom: 1.5em;
// 	// border:1px solid $sk-color-border-hr;
// }

/* Reset iOS Style */
input[type="submit"],
input[type="button"] {
	-webkit-box-sizing: border-box;
	-webkit-appearance: button;
	appearance: button;

	&::-webkit-search-decoration {
		display: none;
	}

	&::focus {
		outline-offset: -2px;
	}
}

input:where(:not([type=checkbox], [type=radio])),
select {
	-webkit-appearance: none;
	appearance: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
	vertical-align: top;
}

// figure {
// 	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
// }

/* / Reset iOS Style */

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=url],
input[type=date],
input[type=password],
select,
textarea {
	font-size: 1.6rem;
	border: 1px solid $sk-color-border-form;
	border-radius: $sk-size-radius;
	// padding: 0.8em 1em;
	// bottomはすぐ下にキャプションつけたりする場合があるので若干余白をもたせた方が良いが、
	// 上部に余白をつけるとWooCommerceなどすぐとなりにボタンがある場合など段差ができるので上部に余白はつけない
	margin: 0 0 0.5rem;
	width: 100%;
	color: $sk-color-text-body; // iOS で文字色が hover 色にされるため上書き
	background-color: #fff;
}

input[type=file] {
	margin: 0.5rem 0;
}

input[type=submit] {
	font-size: 1.6rem;
	border: 1px solid $sk-color-primary-dark;
	background-color: $sk-color-primary;
	color: #fff;
	padding: 0.5em 2em;
	border-radius: $sk-size-radius;

	&:hover {
		color: #fff;
		cursor: pointer;
		background-color: $sk-color-primary-dark;
	}
}

table {
	border-top: 1px solid $sk-color-border-hr;
	border-bottom: none;
	border-collapse: collapse;
	border-spacing: 0;

	th,
	td {
		border: 1px solid $sk-color-border-hr;
		padding: 0.5rem 1rem;
		font-size: $sk-size-text-sm;
	}
}

// iframe {
// 	border: none;
// }

// dt {
// 	font-weight: bold;
// 	// margin-bottom:0.5em;
// }

// dd {
// 	margin-left: 0;
// }

dfn,
cite,
em,
i {
	font-style: italic;
}

// blockquote {
// 	margin: 0 1.5em;
// }

// address {
// 	margin: 0 0 1.5em;
// }

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	// margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

// code,
// kbd,
// tt,
// var {
// 	font-family: $font__code;
// }

// abbr,
// acronym {
// 	border-bottom: 1px dotted $color__border-abbr;
// 	cursor: help;
// }

// mark,
// ins {
// 	background: $color__background-ins;
// 	text-decoration: none;
// }

big {
	font-size: 125%;
}

small {
	font-size: 80%;
}